!!! 5
html
  head
    title feedmixr
    for feedInfo in feeds
      link(rel="alternate", type="application/rss+xml", title=feedInfo.title, href=feedInfo.url)
  body
    h1 Welcome to feedmixr!
    p Available feeds:
    ul
      for feedInfo in feeds
        li
          a(href=feedInfo.url)= feedInfo.title

